.c1 {
    float: right;
}

.sa {
    background: linear-gradient(lightblue 40%, lightgrey 90%);
}

.cake1 {
    text-align: center;
    background: linear-gradient(lightpink 40%, white 70%);
}

.im {
    margin-top: 30px;
    width: 500px;
}

.section {
    height: 200px;
    width: 200px;
    margin: 0px auto;
    background-color: aqua;
    overflow: hidden;
    border-radius: 50%;
}

.section img {
    width: 200%
}

.smi {
    list-style-type: none;
}

.smi li {
    display: inline-block;
    background-color: white;
    color: black;
    padding: 3px;
    border-radius: 50%;
}